<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page accueil</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div
		class="shadow  m-5 pt-4 pb-4 bg-white rounded d-flex justify-content-center align-items-center">
		<form method="post" th:action="@{/login}">
			<div class="form-group">
				<label for="username1" class="text-dark ">Username</label> <input type="text"
					class="form-control" id="username1"
					placeholder="Saisir votre nom d'utilisateur" name="username"
					value="">
			</div>
			<div class="form-group" >
				<label for="password1" class="text-dark ">Password</label> <input type="password"
					class="form-control" id="password1"
					placeholder="votre mot de passe" name="password" value="">
			</div>
			<div class="form-group form-check">
				<input type="checkbox" class="form-check-input" id="idSauveGarde">
				<label class="form-check-label text-dark" for="cksauve-garde" >Sauvegarde-moi</label>
			</div>
			<div class="form-group">
				<a th:href="@{creerNouveauUser}" class="mt-4 mb-4"> Creer
					nouveau user </a>
			</div>
			<button type="submit" class="btn btn-primary">Se connecter</button>
		</form>

	</div>
</body>
</html>